/vendor/
/composer.lock
/phpunit.result.cache
/.phpunit.cache/
/coverage/
/phpunit.xml
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
*.log
*.tmp
.env
.env.local
.env.*.local
*.bak
*.swp
*.orig
results.xml